:root{
  --pls-color-primary-10: #C6D3F3;
  --pls-color-primary-20: #8DA7E6;
  --pls-color-primary-30: #547CDA;
  --pls-color-primary-40: #3766D3;
  --pls-color-primary-50: #2956BE;
  --pls-color-primary-60: #2349A2;
  --pls-color-primary-70: #1D3C85;
  --pls-color-primary-80: #17306A;
  --pls-color-primary-90: #112450;
  --pls-color-primary-100: #0C1835;
  --pls-color-secondary-10: #FFFFFF;
  --pls-color-secondary-20: #F4F5F5;
  --pls-color-secondary-30: #E5E6E6;
  --pls-color-secondary-40: #B0B3B5;
  --pls-color-secondary-50: #5A5F62;
  --pls-color-secondary-60: #5A5F62;
  --pls-color-secondary-70: #43484C;
  --pls-color-secondary-80: #323639;
  --pls-color-secondary-90: #232729;
  --pls-color-secondary-100: #131516;
}